* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  margin-top: 100px;
  margin-bottom: -100px;
}
.btn-random {
  background-color: blue;
  border: none;
  border-radius: 3px;
  color: #f9f9f9;
  padding-inline: 5px;
  cursor: pointer;
}
.color-container {
  margin: 150px auto;
  max-width: 800px;
  height: 800px;
}
.ul-colors {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.list-color1 {
  width: 20%;
  height: 600px;
  background-color: green;
  transition: width 0.5s ease-in-out;
}
.list-color2 {
  width: 20%;
  height: 600px;
  background-color: rgb(177, 233, 75);
  transition: width 0.5s ease-in-out;
}
.list-color3 {
  width: 20%;
  height: 600px;
  background-color: rgb(0, 128, 107);
  transition: width 0.5s ease-in-out;
}
.list-color4 {
  width: 20%;
  height: 600px;
  background-color: rgb(41, 31, 133);
  transition: width 0.5s ease-in-out;
}
.list-color5 {
  width: 20%;
  height: 600px;
  background-color: rgb(4, 37, 4);
  transition: width 0.5s ease-in-out;
}

.ul-colors li:hover {
  width: 30%;
}
.ul-colors li:hover .btn-copy {
  display: block;
}

ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

img {
  height: 30px;
}
.btn-copy {
  background: transparent;
  border: none;
  color: #000;
  width: 100%;
  margin-top: 80px;
  cursor: pointer;
  display: none;
}

.exadecimal {
  position: absolute;
  left: 2;
  bottom: 0;
  margin-bottom: 70px;
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
}

.tooltip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
